:root {
  --primary-green: #2ecc71;
  --secondary-green: #27ae60;
  --green-dark: #006400;
  --green-medium: #228b22;
  --green-light: #90ee90;
  --dark-slate: #222831;
  --white: #fff;
  --black-alpha-35: rgba(0, 0, 0, 0.35);
  --black-alpha-15: rgba(0, 0, 0, 0.15);
  --black-alpha-2: rgba(0, 0, 0, 0.2);
  --white-alpha-2: rgba(255, 255, 255, 0.2);
  --white-alpha-25: rgba(255, 255, 255, 0.25);
  --white-alpha-4: rgba(255, 255, 255, 0.4);
  --white-alpha-7: rgba(255, 255, 255, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-container {
  position: relative;
  width: 400px;
  margin: 0 auto 70px;
}

.search-bar {
  width: 100%;
  padding: 12px 20px;
  background: var(--white);
  border: 1px solid var(--green-dark);
  border-radius: 25px;
  color: var(--green-dark);
  font-size: 16px;
  outline: none;
  box-shadow: 0 5px 15px var(--black-alpha-15);
  transition: all 0.3s ease;
}

.search-bar::placeholder {
  color: var(--green-dark);
}

.search-bar:focus {
  background: var(--white);
  box-shadow: 0 5px 20px var(--black-alpha-2);
  border: 1px solid var(--green-light);
}

.search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--green-dark);
  cursor: pointer;
}

.search-button {
  background-color: transparent;
}

.container {
  height: 350px;
  width: 700px;
  background: linear-gradient(
    320deg,
    var(--primary-green),
    var(--secondary-green),
    var(--dark-slate)
  );
  color: var(--white);
  border-radius: 25px;
  box-shadow: 0 5px 15px var(--black-alpha-35);
}

.left-info {
  width: 360px;
  height: 100%;
  float: left;
  display: flex;
  border-radius: 25px;
  justify-content: center;
  background: url("../assets/background.jpg");
  background-position: center;
  background-size: cover;
  transform: scale(1.03) perspective(200px);
  cursor: pointer;
  box-shadow: 0 0 20px -10px var(--black-alpha-2);
  transition: all 0.3s ease;
}

.left-info:hover {
  transform: scale(1.1) perspective(2500px) rotateY(5deg);
}

.pic-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    135deg,
    var(--primary-green) 10%,
    var(--secondary-green) 100%
  );
  border-radius: 25px;
  opacity: 0.5;
}

.today-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.today-weather {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  bottom: 20px;
  left: 20px;
}

.today-weather .bx {
  font-size: 4.6rem;
}

.weather-temp {
  font-weight: 700;
  font-size: 3.5rem;
}

.right-info {
  float: right;
  position: relative;
  height: 100%;
  padding-top: 25px;
}

.day-info {
  padding: 25px 35px;
  display: flex;
  flex-direction: column;
}

.day-info div:not(:last-child) {
  margin-bottom: 6px;
}

.day-info div .title {
  font-weight: 700;
}

.day-info div .value {
  float: right;
}

.days-list {
  display: flex;
  list-style: none;
  margin: 10px 35px;
  box-shadow: 0 5px 15px var(--black-alpha-35);
  border-radius: 10px;
}

.days-list li {
  padding: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.days-list li .bx {
  margin-bottom: 5px;
  font-size: 2rem;
}

.days-list li:hover {
  transform: scale(1.1);
  background: var(--green-light);
  color: var(--dark-slate);
  box-shadow: 0 5px 15px var(--black-alpha-35);
}

.days-list li .day-temp {
  margin-top: 6px;
  font-weight: 700;
}

.btn-container {
  padding: 25px 35px;
}

.loc-button {
  outline: none;
  width: 100%;
  border: none;
  font-weight: 700;
  border-radius: 25px;
  padding: 10px;
  background: var(--secondary-green);
  color: var(--white);
  cursor: pointer;
  box-shadow: 0 5px 15px var(--black-alpha-35);
  transition: all 0.3s ease;
}

.loc-button:hover {
  background: var(--green-light);
  color: var(--dark-slate);
}
